*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* let's start */

/* blocks */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 13px;
}

.content__list {
  position: relative;
  min-width: 399px;
  height: 298px;
  overflow-y: auto;
  margin-top: 26px;
  display: flex;
  flex-direction: column;   
   
}

/* убрал скрол у карточек - но на ревью попросили убрать это
.content__list::-webkit-scrollbar {
  width: 0;
}


.content {
  -ms-overflow-style: none;
}
*/

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 78px;
}


.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  /*object-fit: contain;
  width: 100%;
  height: 386px;*/
}

.result__video-container {
  position: relative;
  
  /* inline-size: 711px; */
  width: 711px;
  height: 386px;
}

.content__details {
  width: 100%;
}

.search-form {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 3px;
}

.content__list-item {
  min-width: 398px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}

/* fonts */
.title {
  color: #FFF;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  /* 70.5px */
  text-transform: uppercase;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  /* 90% */
  margin-top: 6px;
}

.content__card-link {
  text-decoration: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;  
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}

.button {
  color: #FFF;
  background-color: transparent;
  text-align: center;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid white;
  min-height: 34px;
}

.search-form__label-text {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* button */
.more-button {
  width: 100%;  
  margin-bottom: 3px;
}

.search-form__submit-button {
  min-width: 194px;  
  align-self: end;  
  
}

/* checkbox */
.search-form__fieldset {
  min-width: 225px;
  min-height: 54px;
  border: none;
  align-self: end;  
}

/*
.search-form__fieldset:nth-child(even) {
  margin-bottom: 5px;
}
*/

/* search */
.search-form__textfield {
  min-width: 228px;
  color: rgb(255, 255, 255); 
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;  
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* focus active hover has */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
 /* flex-direction: row;
  align-items: center;*/
  column-gap: 15px; 
  
  padding-left: 5px;  
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label,
.search-form__textfield,
.search-form__checkbox,
.search-form__submit-button,
.more-button {
  cursor: pointer;
}

.button:hover {
  border: 1px solid #fff;
  text-decoration: underline;
}

.button:active {
  border: 1px solid #fff;
  background: #545050;
  text-decoration: none;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text:focus {
  outline: 0px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.search-form__pseudo-checkbox {  
  position: relative;
  display: flex;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;  
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 1px;
}

.search-form__checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox:hover {
  border: 1px solid #fff;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__accent:first-child {
  color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 5px;
}

.content__card-link_current  {
  background-color: #545050;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 3px;  
}

.content__video-card:active {
  background-color: #545050;
}

/*


.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
*/

.content__video-card:focus {
  outline: none;
}

.content__video-card:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;  
  
}

.search-form__fieldset-title:first-child {
  padding-left: 0;
}

/*
li:last-child {
  padding-bottom: 2px;
}
*/